@import '../../Assets/Variables/Variables.scss';

// ID of Menu Container
.menu-container {
  position: relative;
  top: 1400px;
  
  // ID of Menu Title Container
  .menu-title {
    
    // H4 for "Our Menu" Text
    h4 {
      font-family: "Dancing Script", system-ui;
      font-size: 22px;
      color: $primary-color;
    }

    // ID of Line by H4
    #line {
      position: relative;
      top: -20px;
      left: 65px;
      border-bottom: 1px solid $primary-color;
      width: 50px;
    }

    // H1 for "Menu" Text 
    h1 {
      position: relative;
      font-size: 45px;
      font-weight: 900;
      margin-bottom: 40px;
      font-family: "Oswald", sans-serif;
    }
  }

  // ID of Menu Buttons
  .menu-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    // Menu Navigation Buttons
    button {
      margin: 0 1rem;
      padding: 1rem 2rem;
      border: 2px solid #ffba08;
      background-color: #fff;
      color: #333;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover, &.active {
        background-color: #ffba08;
        color: #fff;
        border-color: #ffba08;
      }
    }
  }

  .menu-items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #ff0000 1px solid;
    width: 1200px;

    .menu-item {
      position: relative;
      width: 575px;
      height: 150px;
      border: #00ff37 1px solid;

      &:hover {
        font-style: none;
      }

      .menu-item-image {
        height: 130px;
        width: 130px;
      }

      .menu-item-details {
        position: relative;
        top: -130px;
        left: 70px;
        width: 415px;
        border: #0011ff 1px solid;

        .item-name {
          position: relative;
          font-family: "Oswald", sans-serif;
          border: $primary-color 1px solid;
        }

        .item-description {
          position: relative;
          font-family: 'Open Sans', sans-serif;
          border: $primary-color 1px solid;
        }

        .item-price {
          position: relative;
          top: -23px;
          left: 350px;
          font-family: "Oswald", sans-serif;
          border: $primary-color 1px solid;
        }

        .item-ingredients {
          position: relative;

          color: $primary-color;
          font-family: "Dancing Script", system-ui;
          border: $primary-color 1px solid;
        }
      }
    }
  }
}
