@import '../../Assets/Variables/Variables.scss';

* {
    background-color: $primary-color;
    color: $secondary-color;
}

#header {
    background-color: #000000;
    color: $secondary-color;
        
        #book-button {
            background-color: $primary-color;
        }
}

